.container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}

.container img {
  align-self: center;
  margin-bottom: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

h2 {
  margin-bottom: 8px !important;
}