<div class="container">
  <span class="header">
    <!--<img class="center" [src]="getTypeImage(item)" [width]="20" [height]="20" />-->
    <h2>{{ item.name }}</h2>
    <span class="center">&lt;{{ item.type }}&gt;</span>
    <span class="spacer"></span>
    <mat-checkbox *ngIf="selectable" [(ngModel)]="selected"></mat-checkbox>
  </span>
  <img #image class="center" [src]="item.image" [alt]="item.image" [width]="200" [height]="200" (error)="image.src = defaultSrc"/>
  <p>{{ item.description }}</p>
</div>
