.container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 8px;
}

.center {
  align-self: center;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.header:hover {
  background-color: rgba(238, 238, 238, 0.1);
  border-radius: 4px;
}

h2 {
  margin-bottom: 0px !important;
}

img {
  background-color: #eee;
  border: 1px solid gray;
}

p {
  margin-top: 8px;
  height: 40px;
}