.header {
  align-items: center;
  padding: 4px 0px;
}

.footer {
  padding: 4px 0px;
}

:host ::ng-deep.mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

mat-form-field ::ng-deep.mat-form-field-infix {
  width: 50px;
}