<div class="container">
  <mat-card>
    <div class="header">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" />
        <button mat-icon-button matPrefix>
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="content">
      <div class="section">
        <h2>Shop</h2>
        <div class="display">
          Items
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="section">
        <h2>Community</h2>
        <div class="display">
          <app-marketplace-item *ngFor="let item of items" [marketplace]="item" class="item"></app-marketplace-item>
        </div>
      </div>
    </div>
  </mat-card>
</div>
