<app-form-card [title]="'Login'">
  <ng-template #content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input id="nameInput" matInput [(ngModel)]="credentials.name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input id="passwordInput" #passwordInput matInput type="password" [(ngModel)]="credentials.password" />
      <visibility-button matSuffix [element]="passwordInput"></visibility-button>
    </mat-form-field>
    <a [routerLink]="['/auth/reset']" class="information">Forgot Password?</a>
  </ng-template>
  <ng-template #footer>
    <a [routerLink]="['/auth/register']">Create Account</a>
    <span class="spacer"></span>
    <button id="okButton" mat-raised-button [disabled]="!(credentials.password && credentials.name)" (click)="login()">OK</button>
  </ng-template>
</app-form-card>
