<h2 mat-dialog-title>Edit Deck</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Deck Name</mat-label>
    <input matInput type="text" [(ngModel)]="deck.item!.name" />
  </mat-form-field>

  <h3>Deck</h3>
  <app-inventory [selectable]="true" [deckId]="deck.id!"></app-inventory>

  <br/>
  <mat-divider></mat-divider>

  <h3>Cards</h3>
  <app-inventory #cards [selectable]="true"></app-inventory>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Delete</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
