.container {
  width: 240px;
  height: 100%;
  padding-bottom: 8px;
}

.divider {
  background-image: linear-gradient(45deg, #006838, #96cf24);
  --mask:
    radial-gradient(18.45px at 50% calc(100% - 25.50px),#000 99%,#0000 101%) calc(50% - 20px) 0/40px 100%,
    radial-gradient(18.45px at 50% calc(100% + 15.50px),#0000 99%,#000 101%) 50% calc(100% - 10px)/40px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

::ng-deep.mat-menu-content app-profile-menu-item {
  display: block;
  margin-top: -8px !important;
}