<ng-container [ngSwitch]="column.type">
  <ng-container *ngSwitchCase="'text'">
    <ng-container *ngIf="row == selected else display">
      <mat-form-field>
        <mat-label>{{column.name}}</mat-label>
        <input matInput type="text" [(ngModel)]="row[column.key]" />
      </mat-form-field>
    </ng-container>
    <ng-template #display>
      {{ row[column.key] }}
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'number'">
    <ng-container *ngIf="row == selected else display">
      <mat-form-field>
        <mat-label>{{column.name}}</mat-label>
        <input #number matInput type="number" [(ngModel)]="row[column.key]" (keydown)="numberInput(number, $event)"  />
      </mat-form-field>
    </ng-container>
    <ng-template #display>
      {{ row[column.key] }}
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'image'">
    <ng-container *ngIf="row == selected else display">
      <div>
        <img [src]="row[column.key]" />
        <input type="file" id="imageupload" (change)="dataService.uploadImage($event, { name: column.key, row: row })" />
        <a #imagedownload id="imagedownload" [href]="row[column.key]" download="image">Download</a>
        <div class="image-actions">
          <label for="imageupload">
            <mat-icon>upload</mat-icon>
          </label>
          <label (click)="imagedownload.click()">
            <mat-icon>download</mat-icon>
          </label>
        </div>
      </div>
    </ng-container>
    <ng-template #display>
      <img [src]="row[column.key]" />
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'select'">
    <ng-container *ngIf="row == selected else display">
      <mat-form-field>
        <mat-label>{{column.name}}</mat-label>
        <mat-select [(ngModel)]="row[column.key]">
          <mat-option *ngFor="let option of column.select?.options" [value]="option[$any(column.select?.valueKey)]">
            {{ option[$any(column.select?.displayKey)] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-template #display>
      {{ row[column.key] }}
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'action'">
    <ng-container *ngIf="!column.actions else display">
      ACTION
    </ng-container>
    <ng-template #display>
      <button mat-icon-button *ngFor="let action of $any(column).getActions(row == selected)" (click)="actionEvent.emit({action: action.name, row: row})">
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{ row[column.key] }}
  </ng-container>
</ng-container>
