<template-form-card [title]="'Create Account'" [navigation]="['/auth/login']">
  <ng-template #content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput required [(ngModel)]="credentials.name" />
    </mat-form-field>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input #passwordInput matInput type="password" required [(ngModel)]="credentials.password" />
        <visibility-button matSuffix [element]="passwordInput"></visibility-button>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>(Repeat) Password</mat-label>
        <input #passwordRepeatInput matInput type="password" />
        <visibility-button matSuffix [element]="passwordRepeatInput"></visibility-button>
      </mat-form-field>
    </div>
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button [disabled]="!(credentials.password && credentials.name)" (click)="register()">Register</button>
  </ng-template>
</template-form-card>
