.container {
  padding: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin-bottom: 8px;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}