<app-friend-list-search
  *ngIf="search"
  (toggleEvent)="setSearch($event)"
  (searchEvent)="searchFriends($event)"
  (findEvent)="searchUsers($event)"
></app-friend-list-search>
<ng-container *ngIf="!searching else find">
  <ng-container *ngIf="!onlyFriends">
    <mat-list-item *ngFor="let request of requests" [routerLink]="['/navigation/profile']" [queryParams]="{id: request.id}">
      <app-profile-avatar mat-list-icon [src]="request.avatar"></app-profile-avatar>
      <div mat-line>{{ request.name }}</div>
      <div mat-line class="actions">
        <button mat-stroked-button color="primary" (click)="acceptFriend(request.id!)">Accept</button>
        <button mat-stroked-button color="warn" (click)="declineFriend(request.id!)">Decline</button>
      </div>
    </mat-list-item>
    <mat-divider *ngIf="requests.length != 0"></mat-divider>
  </ng-container>
  <mat-list-item *ngFor="let friend of friends" [routerLink]="['/navigation/profile']" [queryParams]="{id: friend.id}">
    <app-profile-avatar mat-list-icon [src]="friend.avatar"></app-profile-avatar>
    <div mat-line>{{ friend.name }}</div>
    <div mat-line>Level: {{ stats.user(friend.xp).level }}</div>
  </mat-list-item>
  <mat-list-item *ngIf="_friends.length == 0 else info"> No friends... </mat-list-item>
  <ng-container *ngIf="!onlyFriends">
    <mat-divider *ngIf="invites.length != 0"></mat-divider>
    <mat-list-item *ngFor="let invite of invites" [routerLink]="['/navigation/profile']" [queryParams]="{id: invite.id}" class="translucent">
      <app-profile-avatar mat-list-icon [src]="invite.avatar"></app-profile-avatar>
      <div mat-line>{{ invite.name }}</div>
      <div mat-line>Invited</div>
    </mat-list-item>
  </ng-container>
  <ng-template #info>
    <mat-list-item *ngIf="(friends.length + requests.length + invites.length) == 0"> No friends found... </mat-list-item>
  </ng-template>
</ng-container>
<ng-template #find>
  <mat-list-item *ngFor="let search of searches" [routerLink]="['/navigation/profile']" [queryParams]="{id: search.id}">
    <app-profile-avatar mat-list-icon [src]="search.avatar"></app-profile-avatar>
      <div mat-line>{{ search.name }}</div>
      <div mat-line class="actions">
        <button mat-stroked-button color="primary" (click)="inviteUser(search.id!)">Invite</button>
      </div>
  </mat-list-item>
  <mat-list-item *ngIf="searches.length == 0"> No Users found... </mat-list-item>
</ng-template>
