<div class="container">
  <div class="header">
    <div class="row">
      <app-profile-avatar [src]="user.avatar" [size]="64"></app-profile-avatar>
      <h1>{{ user.name }}</h1>
      <span class="level">{{ stats.user(user.xp).level }}</span>
    </div>
    <div class="progress">
      <mat-progress-bar [value]="stats.user(user.xp).progress * 100" class="bar"></mat-progress-bar>
      <div class="xp">{{ user.xp }}/{{ stats.user(user.xp).next }} XP</div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-sidenav-container class="sidenav">
    <mat-sidenav position="end" mode="side" opened>
      <mat-list>
        <h3 mat-subheader>Achievements</h3>
        <mat-list-item>...</mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Friends</h3>
        <app-friend-list [userId]="user.id"></app-friend-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <p>Description...</p>
        <mat-divider></mat-divider>
        <p>More...</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
