<div class="container">
  <div class="row">
    <app-profile-avatar [src]="user.avatar" [size]="64"></app-profile-avatar>
    <h1>{{ user.name }}</h1>
    <span class="level">{{ stats.user(user.xp).level }}</span>
  </div>
  <div class="progress">
    <mat-progress-bar [value]="stats.user(user.xp).progress * 100" class="bar"></mat-progress-bar>
    <div class="xp">{{ user.xp }}/{{ stats.user(user.xp).next }} XP</div>
  </div>
  <div class="content">
    <p>Description...</p>
    <p>More...</p>
    <p>Achievements...</p>
  </div>
  <mat-divider></mat-divider>
  <mat-list>
    <h3 mat-subheader>Friends</h3>
    <mat-list-item *ngFor="let friend of friends">
      <app-profile-avatar mat-list-icon></app-profile-avatar>
      <div mat-line>{{ friend.name }}</div>
      <div mat-line>Level: {{ stats.user(friend.xp).level }}</div>
    </mat-list-item>
  </mat-list>
</div>
