.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  padding: 16px;
}

h1 {
  margin-bottom: 0px !important;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.progress {
  margin: 8px 0px;
}

.bar {
  height: 20px !important;
}

.xp {
  position: relative;
  margin-top: -18px;
  z-index: 3;
  text-align: center;
}

.content {
  margin-top: 16px;
  padding: 16px;
}

.level {
  text-align: center;
  padding: 10px;
  width: 24px;
  font-size: 22px;
  border-radius: 50%;
  border: 2px solid gainsboro;
}

.sidenav {
  height: 100%;
  overflow-x: hidden;
}

.sidenav ::ng-deep.mat-drawer-inner-container {
  overflow-x: hidden;
}

app-friend-list {
  display: block;
  min-width: 200px;
}