<div class="row">
  <div>
    <h2>Rooms</h2>
    <mat-form-field>
      <mat-label>Room Name</mat-label>
      <input matInput #roomNameInput />
    </mat-form-field>
    <br />
    <button mat-stroked-button (click)="joinRoom(roomNameInput.value)">Join</button>
    <button mat-stroked-button (click)="leaveRoom(roomNameInput.value)">Leave</button>
  </div>

  <mat-divider vertical></mat-divider>

  <div>
    <h2>Events</h2>
    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input matInput #eventName />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Event Data</mat-label>
      <textarea matInput #eventData [placeholder]="'{\n\t&quot;key&quot;: &quot;value&quot;\n}'"></textarea>
    </mat-form-field>
    <br />
    <button mat-stroked-button (click)="emitEvent(eventName.value, eventData.value)">Emit</button>
  </div>

  <mat-divider vertical></mat-divider>

  <mat-tab-group>
    <mat-tab label="Messages">
      <div class="tab-content">
        <ng-container *ngFor="let item of messages">
          <div>{{ item.timestamp | date: 'HH:mm:ss' }}</div>
          <pre><code>{{ item.message | json }}</code></pre>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Available Rooms">
      <div class="tab-content">
        <pre><code>{{ availableRooms | json }}</code></pre>
      </div>
    </mat-tab>
    <mat-tab label="Joined Rooms">
      <div class="tab-content">
        <pre><code>{{ joinedRooms | json }}</code></pre>
      </div>
    </mat-tab>
    <mat-tab label="Events">
      <div class="tab-content">
        <ng-container *ngFor="let item of events">
          <div>{{ item.room }} - {{ item.timestamp | date: 'HH:mm:ss' }}</div>
          <pre><code>{{ item.event | json }}</code></pre>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
