.container {
  //display: inline-block;
}

.search {
  padding: 8px 16px 0px 16px;
}

table {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
}