<div class="container">
  <div class="header">
    <button mat-icon-button (click)="socket.leave(SocketKey.GAME)">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h3>Game Lobby</h3>
  </div>
  <mat-card class="row">
    <h3>Select your Deck</h3>
  </mat-card>
  <br>
  <div class="row gap">
    <div class="col grow gap">
      <mat-card class="row">
        <h4>Available Decks:</h4>
      </mat-card>
      <app-inventory [objects]="decks" (itemClicked)="game.selectDeck($event.hash); selectedObject = $event" [filter]="[ItemType.DECK]"></app-inventory>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col grow gap">
      <mat-card class="row">
        <h4>Selected Deck:</h4>
      </mat-card>
      <div class="row center">
        <app-item *ngIf="selectedObject" [object]="selectedObject"></app-item>
      </div>
      <mat-divider></mat-divider>
      <div class="col" *ngIf="selectedObject">
        <app-inventory #deckInventory></app-inventory>
      </div>
    </div>
  </div>
  <table>
    <tr *ngFor="let item of events">
      <td>{{ item.room }} - {{ item.timestamp | date : "HH:mm:ss" }}</td>
      <td>
        <pre><code>{{ item.event | json }}</code></pre>
      </td>
    </tr>
  </table>
  <div class="actions">
    <span class="spacer"></span>
    <mat-checkbox #ready class="hidden">Ready</mat-checkbox>
    <button mat-flat-button [color]="ready.checked ? 'accent' : 'primary'" (click)="ready.toggle(); game.setReady(ready.checked)">{{ ready.checked ? "Not Ready" : "Ready" }}</button>
  </div>
</div>
