<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="title">Decksterous</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon> more_vert </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-profile-menu-item (click)="profile()"></app-profile-menu-item>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav">
    <mat-sidenav [mode]="'side'" opened #drawer>
      <mat-nav-list>
        <ng-container *ngFor="let category of menuCategories; let last = last">
          <h2 matSubheader>{{ category.name }}</h2>
          <mat-list-item *ngFor="let item of category.items" [routerLink]="item.link" [routerLinkActive]="['is-active']">
            <mat-icon matListIcon>{{ item.icon }}</mat-icon>
            {{ item.name }}
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
