.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sidenav {
  height: 100%;
}

mat-toolbar {
  background: linear-gradient(45deg, #006838, #96cf24) !important;

  & img {
    max-height: 80%;
  }
}