<div class="container">
  <mat-toolbar>
    <img src="/assets/logo_name.svg" (click)="drawer.toggle()">
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <app-profile-avatar [border]="false"></app-profile-avatar>
    </button>
    <mat-menu #menu="matMenu">
      <app-profile-menu-item (click)="profile()"></app-profile-menu-item>
      <app-friend-menu-list (click)="$event.stopPropagation()"></app-friend-menu-list>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav" [autosize]="true">
    <mat-sidenav [mode]="'side'" opened #drawer>
      <div class="nav-list">
        <div class="nav-list-container">
          <span *ngFor="let category of menuCategories; let last = last" class="nav-list-group">
            <span>{{ category.name }}</span>
            <span *ngFor="let item of category.items" [routerLink]="item.link" [routerLinkActive]="['is-active']" class="nav-list-item">
              <mat-icon class="nav-list-item-icon card-background" [class]="'icon-' + item.name">{{ item.icon }}</mat-icon>
              <span class="nav-list-item-text card-background">{{ item.name }}</span>
            </span>
          </span>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="content" [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
