.container {
  padding: 16px;
}

.align_start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

h1 {
  margin-bottom: 0px !important;
}

.tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  margin: 12px 0px;
}

.tables > * {
  flex-grow: 1;
}