<div class="container">
  <span class="align_start">
    <button mat-icon-button [routerLink]="['/navigation']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Development Test</h1>
  </span>
  <div class="table-rows">
    <dev-socket></dev-socket>
    <dev-game></dev-game>

    <mat-divider></mat-divider>

    <dev-profile #profile></dev-profile>
    <div class="table-columns">
      <dev-user (selectedEvent)="inventory.inventoryId = $event.inventory.id; profile.id = $event.id"></dev-user>
      <dev-item (selectedEvent)="inventory.addItem($event.hash)"></dev-item>
    </div>
    <div class="table-columns">
      <dev-inventory (selectedEvent)="inventory.inventoryId = $event.id"></dev-inventory>
      <dev-user-inventory #inventory (selectedEvent)="sub.addItems($event)"></dev-user-inventory>
    </div>

    <mat-divider></mat-divider>

    <div class="table-columns">
      <dev-card></dev-card>
      <dev-card-deck></dev-card-deck>
    </div>
    <div class="table-columns">
      <dev-card-type></dev-card-type>
      <dev-card-ability></dev-card-ability>
    </div>

    <mat-divider></mat-divider>

    <div class="table-columns">
      <app-sub-inventory (selectedEvent)="sub.objectHash = $event.objectHash"></app-sub-inventory>
      <app-sub-object-inventory #sub></app-sub-object-inventory>
    </div>
  </div>
</div>
