<div class="container">
  <span class="align_start">
    <button mat-icon-button [routerLink]="['/navigation']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Development Test</h1>
  </span>
  <div class="table-rows">
    <dev-socket></dev-socket>
    <div class="table-columns">
      <dev-user (selectedEvent)="inventory.userId = $event.id; profile.id = $event.id"></dev-user>
      <dev-inventory (selectedEvent)="inventory.inventoryId = $event.id"></dev-inventory>
    </div>
    <dev-profile #profile></dev-profile>
    <dev-user-inventory #inventory></dev-user-inventory>
    <div class="table-columns">
      <dev-item></dev-item>
      <dev-card></dev-card>
    </div>
    <div class="table-columns">
      <dev-card-type></dev-card-type>
      <dev-card-ability></dev-card-ability>
    </div>
    <div class="table-columns">
      <dev-card-deck></dev-card-deck>
      <dev-deck-inventory></dev-deck-inventory>
    </div>
  </div>
</div>
