.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}

.item img {
  align-self: center;
}
