.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.item {
  --elements: 5;
  flex-basis: calc((100% / var(--elements)) - (2px * var(--elements)));
}
