
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import './styles/global.scss';
@import './styles/restyle.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$decksterous-primary: mat.define-palette(mat.$green-palette);
$decksterous-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$decksterous-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$decksterous-theme: mat.define-light-theme((
  color: (
    primary: $decksterous-primary,
    accent: $decksterous-accent,
    warn: $decksterous-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($decksterous-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:link {
  color: mat.get-color-from-palette($decksterous-primary, default);
}

a:visited {
  color: mat.get-color-from-palette($decksterous-accent, default);
}

a:hover {
  color: mat.get-color-from-palette($decksterous-warn, 100);
}

a:active {
  color: mat.get-color-from-palette($decksterous-warn, A100);
}
