<mat-card class="row">
  <div>
    <h2>Rooms</h2>

    <ng-container *ngIf="!socket.subscriptions.get(SocketKey.ROOM); else gameInput">
      <mat-form-field>
        <mat-label>Room Name</mat-label>
        <input matInput #roomNameInput />
      </mat-form-field>
      <br />
      <button mat-stroked-button (click)="socket.join(SocketKey.ROOM, roomNameInput.value)">Join</button>
    </ng-container>
    <ng-template #gameInput>
      <button mat-stroked-button (click)="socket.leave(SocketKey.ROOM)">Leave</button>

      <ng-container *ngIf="!socket.subscriptions.get(SocketKey.GAME); else gameInputLeave">
        <button mat-stroked-button (click)="socket.join(SocketKey.GAME)">Join Game</button>
      </ng-container>
      <ng-template #gameInputLeave>
        <button mat-stroked-button (click)="socket.leave(SocketKey.GAME)">Leave Game</button>
      </ng-template>
    </ng-template>
  </div>

  <mat-divider vertical></mat-divider>

  <div>
    <h2>Events</h2>
    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input matInput #eventName />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Event Data</mat-label>
      <textarea matInput #eventData [placeholder]="'{\n\t&quot;key&quot;: &quot;value&quot;\n}'"></textarea>
    </mat-form-field>
    <br />
    <button mat-stroked-button (click)="socket.emitEvent(eventName.value, eventData.value)">Emit</button>
  </div>

  <mat-divider vertical></mat-divider>

  <mat-tab-group>
    <mat-tab label="Messages">
      <div class="tab-content">
        <table>
          <tr *ngFor="let item of socket.messages.reverse()">
            <td>{{ item.timestamp | date : "HH:mm:ss" }}</td>
            <td>
              <pre><code>{{ item.message | json }}</code></pre>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Rooms">
      <div class="tab-content">
        <table>
          <tr *ngFor="let room of socket.rooms | keyvalue">
            <td>{{ room.key }}</td>
            <td>{{ room.value }}</td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Events">
      <div class="tab-content">
        <table>
          <tr *ngFor="let item of socket.events.reverse()">
            <td>{{ item.room }} - {{ item.timestamp | date : "HH:mm:ss" }}</td>
            <td>
              <pre><code>{{ item.event | json }}</code></pre>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
