<mat-card class="row">
  <div>
    <h2>Rooms</h2>

    <ng-container *ngIf="!socket.subscriptions.get('room'); else gameInput">
      <mat-form-field>
        <mat-label>Room Name</mat-label>
        <input matInput #roomNameInput />
      </mat-form-field>
      <br />
      <button mat-stroked-button (click)="socket.joinRoom(roomNameInput.value)">Join</button>
    </ng-container>
    <ng-template #gameInput>
      <button mat-stroked-button (click)="socket.leaveRoom()">Leave</button>

      <ng-container *ngIf="!socket.subscriptions.get('game'); else gameInputLeave">
        <button mat-stroked-button (click)="socket.joinGame()">Join Game</button>
      </ng-container>
      <ng-template #gameInputLeave>
        <button mat-stroked-button (click)="socket.leaveGame()">Leave Game</button>
      </ng-template>
    </ng-template>
  </div>

  <mat-divider vertical></mat-divider>

  <div>
    <h2>Events</h2>
    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input matInput #eventName />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Event Data</mat-label>
      <textarea matInput #eventData [placeholder]="'{\n\t&quot;key&quot;: &quot;value&quot;\n}'"></textarea>
    </mat-form-field>
    <br />
    <button mat-stroked-button (click)="socket.emitEvent(eventName.value, eventData.value)">Emit</button>
  </div>

  <mat-divider vertical></mat-divider>

  <mat-tab-group>
    <mat-tab label="Messages">
      <table class="tab-content">
        <tr *ngFor="let item of socket.messages">
          <td>{{ item.timestamp | date : "HH:mm:ss" }}</td>
          <td>
            <pre><code>{{ item.message | json }}</code></pre>
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Available Rooms">
      <div class="tab-content">
        <pre><code>{{ socket.availableRooms | json }}</code></pre>
      </div>
    </mat-tab>
    <mat-tab label="Room Members">
      <table class="tab-content">
        <tr *ngFor="let member of socket.roomMembers">
          <td>{{ member }}</td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Events">
      <table class="tab-content">
        <tr *ngFor="let item of socket.events">
          <td>{{ item.room }} - {{ item.timestamp | date : "HH:mm:ss" }}</td>
          <td>
            <pre><code>{{ item.event | json }}</code></pre>
          </td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</mat-card>
