mat-divider {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tab-content {
  max-height: 200px !important;
  overflow-y: auto;
}

table {
  width: 100%;
}