<div class="container row gap grayed">
  <div class="col spacer gap">
    <mat-card class="col">
      <h3>Daily Challenge</h3>
      <br>
      <div class="row">
        <img width="50%" src="/assets/images/house_5_extended.jpg" />
      </div>
      <p>Rewards: [300c], [3x Cards], [1x Pack]</p>
      <br>
      <button mat-raised-button color="primary">Play</button>
      <br>
    </mat-card>
    <mat-card class="col spacer">
      <b><h3>Season 0</h3></b>
      <br>
      <div class="row center">
        <img width="60%" src="/assets/images/landscape_4_extended.jpg" />
      </div>
      <p>
        This season is packed full of upcoming events!
        Be ready for unique new cards and abilities, big rewards and many new game modes.
        Don't forget to check out the Shop for limited time offers 🛒.
      </p>
    </mat-card>
  </div>
  <div class="col spacer">
    <mat-card class="spacer">
      <mat-stepper orientation="vertical">
        <mat-step label="Level 1">
          <h3>Your next Adventure awaits!</h3>
          <h4>The Journey begins...</h4>
          <br>
          <div class="row center">
            <img width="60%" src="/assets/images/ship_2_extended.jpg">
          </div>
          <p>
            In this first duell you will have to show what you got.
            Your challenger is not a particular good player, but he has some cards that pack a punch!
            In this battle you will learn everything you need to know about future games and what awaits ahead of you...
          </p>
          <br>
          <br>
          <button mat-raised-button color="primary">Play</button>
          <br>
        </mat-step>
        <mat-step label="Level 2">
        </mat-step>
        <mat-step label="Level 3">
        </mat-step>
        <mat-step label="...">
        </mat-step>
      </mat-stepper>
    </mat-card>
  </div>
</div>
<div class="banner col center">
  <div class="row center">Coming Soon!</div>
</div>